@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MODELO DDD</h1>
    <p class="lead">Uma nova arquitetura em .Net Core baseada em DDD</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DDD (Domain Driven Design</h2>
        <p>
            O DDD (Domain Driven Design) é uma modelagem de software cujo objetivo é facilitar a implementação de regras e
            processos complexos, onde visa a divisão de responsabilidades por camadas e é independente da tecnologia utilizada.
        </p>
        <p>
            Levando em consideração este conceito, é proposto desenvolver uma nova arquitetura baseada na mesma para construção 
            de uma API (Interface de Programação de Aplicativos).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Marques Software - RH</h2>
        <p>Empresa de tecnologia focada em suprir a demanda existe por mão de obra especializada.</p>
    </div>
    <div class="col-md-4">
        <h2>Marques Software - Desenvolvimento</h2>
        <p>Fabrica de software customizado e software padrões de mercados.</p>
    </div>
</div>